/*body {  margin: 25px;*/
/*background-color: rgb(240,240,240);*/
/*font-family: arial, sans-serif;*/
/*font-size: 14px;}*/

.align {
    margin-top: 3px;
}

.inner {
    border: 1px solid black;
    height: 120px;
    width: 590px;
    margin-top: 10px;
    margin-left: 70px;
    background: #fafafa;
}

.head {

    height: 700px;
}

.right {
    float: right;
    width: 25%;
    height: 100%;
    border: 1px solid black;

}

.left {
    float: left;
    width: 25%;
    height: 99.5%;
    border: 1px solid black;
    color: darkcyan;

}

.center {
    border: 1px solid black;
    float: left;
    height: 99.5%;
    width: 49.6%;

}

.header1 {
    text-align: center;
}

#check {
    margin-left: 81px
}

#remember {
    margin-left: 0px
}

#pass {
    margin-left: 22.5px
}

#login {
    margin-left: 30px
}

.inner > div {
    margin: 10px;
}

header {
    background-color: white;
    text-align: right;
    border: 1px solid #acadac;
}

footer {
    background-color: #00FFFF;
    text-align: center;
}

.back {
    margin-top: 3px;
    margin-left: 5px;
}

red {
    color: red;
}

table {
    margin-top: 10px;
    margin-left: 50px;
    border: 1px solid #939694;
}

.td {
    width: 407px;
    margin-left: -70px

}

.button {
    width: 80px
}

#size {
    width: 500px;
}

#td {
    margin-left: -335px
}



